@page "{id?}"
@model LMS.Pages.Courses.AssignTasksModel
@{
    Layout = "_Layout";
}
<div aria-label="breadcrumb">
    <ol class="mybreadcrumb">
        <li class="breadcrumb-item">
            <a href="~/index">На главную</a>
        </li>
        <li class="breadcrumb-item not-active" aria-current="page">
            <a href="~/courses">Все курсы</a>
        </li>
        <li class="breadcrumb-item not-active" aria-current="page">
            <a href="~/courses/Manage/@Model.CourseID">@Model.CourseName</a>
        </li>
        <li class="breadcrumb-item not-active" aria-current="page">
            Назначение вариантов заданий
        </li>
    </ol>
</div>

<div class="row">
    <div class="col ms-sm-auto px-md-4">

        <div class="pt-3 pb-2 mb-3 border-primary border-bottom">
            <form class="mw-100 w-100" method="post">
                <div class="row">
                    <div class="col">
                        <span class="h1 bg-transparent border-0 h-100 w-100" >@Model.Cur_laboratoryWork.Name </span>
                    </div>

                </div>
            </form>
        </div>
    </div>

</div>
@*<div class="row">
<div class="col-5 ">
        <div class="ps-4">
            <label asp-for="DueDate"></label><br />
            <input asp-for="DueDate" asp-format="{0:yyyy-MM-ddTHH:mm}" />
            <span asp-validation-for="DueDate"></span>
        </div>
        
</div>
<div class="col-7">
        <div class="btn custom btn-primary float-end">Назначить случайно</div>
</div>
 </div>*@
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="order-last col-2 border-start">
            <form asp-page-handler="RandomAssign" method="post">
            <div class="ms-2">
                <label asp-for="DueDate"></label><br />
                <input type="datetime-local" asp-for="DueDate" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                <span asp-validation-for="DueDate"></span>
            </div>
            
                <button type="submit" class="btn custom btn-primary m-2" style="width:fit-content;">Назначить случайно</button>
            </form>
          

        </div>
        <div class="col">
            @foreach (var item in Model.Cur_Users)
            {
                <div class="d-flex align-items-center StudentContainer">

                    <span> @item.User.Surname @item.User.Name @item.User.Patronymic</span>
                    <div class="d-flex">
                        @{
                            var AsVariant = item.User.AssignedVariants.FirstOrDefault(As => As.Variant.LaboratoryWorkId == Model.Id);
                            if (AsVariant != null)
                            {
                                <form id="Form+@item.User.Id" class="align-middle" asp-page-handler="UpdateAssignVar" method="post">
                                    <input id="Date+@item.User.Id" name="Due" type="datetime-local" hidden>
                                    <input type="hidden" name="userId" readonly value="@item.User.Id">
                                    <input type="hidden" name="CurId" readonly value="@item._Variants.First(t=>t.Selected = true).Value">
                                    <label>Вариант №:</label>
                                    <select class="selectpicker form-control" name="VarId" data-style="btn border" title="Выберите вариант" asp-items="item._Variants" onchange="CaptureDueDate(@item.User.Id)">
                                    </select>
                                </form>
                            }
                            else
                            {
                                <form id="Form+@item.User.Id" class="align-middle" asp-page-handler="AssignVar" method="post">
                                    <input id="Date+@item.User.Id" name="Due" type="datetime-local" hidden>
                                    <input type="hidden" name="userId" readonly value="@item.User.Id">
                                    <label>Вариант №:</label>
                                    <select class="selectpicker form-control" name="VarId" data-style="btn border" title="Выберите вариант" asp-items="item._Variants" onchange="CaptureDueDate(@item.User.Id)">
                                    </select>
                                </form>
                            }
                        }

                    </div>

                </div>
            }
        </div>

        </div>
    </div>

@*<div class="row">
    <div class="col">
        @foreach (var item in Model.Cur_Users)
        {
            <div class="d-flex align-items-center StudentContainer">

                <span > @item.User.Surname @item.User.Name @item.User.Patronymic</span>
                <div class="d-flex">
                    @{
                        var AsVariant = item.User.AssignedVariants.FirstOrDefault(As => As.Variant.LaboratoryWorkId == Model.Id);
                        if (AsVariant != null)
                        {
                            <form id="Form+@item.User.Id" class="align-middle" asp-page-handler="UpdateAssignVar" method="post">
                                <input id="Date+@item.User.Id" name="Due" type="datetime-local" hidden>
                                <input type="hidden" name="userId" readonly value="@item.User.Id">
                                <input type="hidden" name="CurId" readonly value="@item._Variants.First(t=>t.Selected = true).Value">
                                <label>Вариант №:</label>
                                <select class="selectpicker form-control" name="VarId" data-style="btn border" title="Выберите вариант" asp-items="item._Variants" onchange="CaptureDueDate(@item.User.Id)">
                                </select>
                            </form>
                        }
                        else
                        {
                            <form id="Form+@item.User.Id" class="align-middle" asp-page-handler="AssignVar" method="post">
                                <input id="Date+@item.User.Id" name="Due" type="datetime-local" hidden>
                                <input type="hidden" name="userId" readonly value="@item.User.Id">
                                <label>Вариант №:</label>
                                <select class="selectpicker form-control" name="VarId" data-style="btn border" title="Выберите вариант" asp-items="item._Variants" onchange="CaptureDueDate(@item.User.Id)">

                                </select>
                            </form>
                        }
                    }
                    
                </div>

            </div>
        }
    </div>
 
</div>*@

<script>
    function CaptureDueDate(Id)
    {
       var elem = document.getElementById("DueDate").value;
        document.getElementById("Date+" + Id).value = elem;
       document.forms["Form+"+Id].submit();
    }
</script>
<partial name="_ValidationScriptsPartial"/>
