@page "{id?}"
@model LMS.Pages.ManageCourseModel
@{
    Layout = "_Layout";
}



     <div aria-label="breadcrumb">
            <ol class="mybreadcrumb">
                <li class="breadcrumb-item">
                <a href="~/index">На главную</a>
                </li>
                <li class="breadcrumb-item not-active" aria-current="page">
                <a href="~/courses">Все курсы</a>
                </li>
                <li class="breadcrumb-item not-active" aria-current="page">
                Управление курсом
                </li>
            </ol>
        </div>



 <div class="row">
        <div class="col-9 ms-sm-auto px-md-4">
        
            <div class="pt-3 pb-2 mb-3 border-primary border-bottom">
            <form class="mw-100 w-100" method="post">
              <div class="row">
                <div class="col-11">
                        <input type="text" class="h1 bg-transparent border-0 h-100 w-100" asp-for="CourseName"> </input>
                </div>
                <div class="col-1">
                        <button type="submit" class="btn btn-primary h-100 w-100" asp-page-handler="EditName"><i class="fa-solid fa-pen-to-square"></i></button>
                </div>
              </div>
            </form>
            </div>
        </div>
        
</div>
<div class="row">
    <div class="col-sm-9 ms-sm-auto px-md-4 ">
        <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
            <li class="nav-item border-primary" role="presentation">
                <button class="nav-link active" id="Users-tab" data-bs-toggle="tab" data-bs-target="#Users-tab-pane" type="button" role="tab" aria-controls="Users-tab-pane" aria-selected="true">Студенты курса</button>
               
            </li>
            <li class="nav-item border-primary" role="presentation">
                <button class="nav-link" id="Labs-tab" data-bs-toggle="tab" data-bs-target="#Labs-tab-pane" type="button" role="tab" aria-controls="Labs-tab-pane" aria-selected="true">Задания курса</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active overflow-hidden" id="Users-tab-pane" role="tabpanel" aria-labelledby="Users-tab" tabindex="0">

                @{
                    if (Model.Cur_Course.Users.Count == 0)
                    {
                        <p>Вы ещё не добавили студентов</p>
                    }
                    else
                    {
                        foreach (var item in Model.Cur_Course.Users)
                        {
                            <div class="StudentContainer ">

                                <span> @item.Surname @item.Name @item.Patronymic</span>
                                <form class="float-end align-middle" method="post">
                                    <button type="submit" class="btn btn-danger align-middle" asp-page-handler="DeleteUser" asp-route-UserId="@item.Id">Удалить</button>
                                </form>
                            </div>
                        }
                    }
                   
                }


            </div>
            <div class="tab-pane fade overflow-auto" id="Labs-tab-pane" role="tabpanel" aria-labelledby="Labs-tab" tabindex="0">
                @{
                    if (Model.Cur_Course.LaboratoryWorks.Count == 0)
                    {
                        <p>Вы ещё не добавили заданий в курс</p>
                    }
                    else
                    {
                        foreach (var item in Model.Cur_Course.LaboratoryWorks)
                        {
                            <div class="StudentContainer ">

                                <span> @item.Name</span>

                                <a class="btn btn-primary float-end" data-bs-toggle="tooltip" data-bs-title="Редактирование задания" asp-page="ManageTask" asp-route-Id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                                <form class="float-end align-middle" method="post">

                                    <button type="submit" class="btn btn-danger align-middle" asp-page-handler="DeleteLab" asp-route-LabId="@item.Id">Удалить</button>
                                </form>
                            </div>
                        }
                    }
                    
                }
            </div>

        </div>
    </div>
  
    
    <div class="col-3 order-first position-sticky sidebar-sticky" style="border-radius: 25px; border: 2px solid black; height:fit-content">
        <ul class="nav flex-column">
            <li class="nav-item ">
                <a class="button nav-link" data-bs-target="#">Журнал сдачи</a>
            </li>
            <li class="nav-item ">
                <a class="button nav-link" href="#" data-bs-toggle="modal" data-bs-target="#AddStudents">Добавить участников</a>
            </li>
            <li class="nav-item ">
                <a class="button nav-link" href="#" data-bs-toggle="modal" data-bs-target="#RemoveStudents">Удалить участников</a>
            </li>
            <li class="nav-item ">
                <a class="button nav-link align-middle" href="#" data-bs-toggle="modal" data-bs-target="#CreateLab">Добавить задание</a>
            </li>
            <li class="nav-item ">
                <a class="button nav-link">Удалить задания</a>
            </li>
            <li class="nav-item ">
                <form asp-page-handler="DeleteCourse" method="post">
                    <button  class="button nav-link" onclick="return confirm('Вы уверены, что хотите удалить курс?')">Удалить курс</button>
                </form>
            </li>
            
        </ul>

    </div>
</div>
    
    



<div id="AddStudents" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавление студентов</h4><button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        
                            <div class="col-8">

                                <form asp-page="Manage" asp-page-handler="AddUsers" method="post">
                                <select class="selectpicker form-control" data-style="btn border" title="Выберите студентов..." asp-for="SelectedUsersIDs">
                                </select>
                                <button type="submit" class="btn btn-success pt-2 mt-2" >Добавить</button>
                                </form>
                            </div>
                           
                        
                        <div class="col-4">
                            <select class="selectpicker form-control" data-style="btn border" title="Выберите группу" asp-for="SelectedGroupID" asp-items="Model._Groups"></select>
                        </div>
                        
                    </div>
            </div>
            <div class="modal-footer"><button class="btn btn-default" type="button" data-bs-dismiss="modal">Закрыть</button></div>
        </div>
    </div>
    </div>
</div>

<div id="RemoveStudents" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Удаление студентов</h4><button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8">
                            <form asp-page="Manage" asp-page-handler="DeleteUsers" method="post">
                                <select class="selectpicker form-control" data-style="btn border" title="Выберите студентов..." asp-for="SelectedUsersDeletion" asp-items="Model._CurrentUsers">
                                </select>
                                <button type="submit" class="btn btn-danger pt-2 mt-2" value="Удалить">Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-default" type="button" data-bs-dismiss="modal">Закрыть</button></div>
            </div>
        </div>
    </div>
</div>

<div id="CreateLab" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Создание лабораторной работы</h4><button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid ">
                    <div class="col text-center">
                        <form asp-page="Manage" asp-page-handler="AddLab" method="post">
                            <div class="input-group align-items-center">
                                <label class="mr-sm-2">Тема:</label>
                                <textarea class="form-control" asp-for="@Model.LabDTO.Name" style="width: 100%; height: 200px;"></textarea>
                            </div>
                            <div class="input-group align-items-center">
                                <label class="mr-sm-2">Описание задания:</label>
                                <textarea class="form-control" asp-for="@Model.LabDTO.Description" style="width: 100%; height: 500px;"></textarea>
                            </div>
                            <div class="input-group align-items-center">
                                <label class="mr-sm-2">Максимальная оценка:</label>
                                <input class="form-control" asp-for="@Model.LabDTO.MaxMark" type="number" min="1" value="1" />
                            </div>
                            
                            <button type="submit" class="btn btn-success ">Добавить</button>
                        </form>
                    </div>
                            
                     
                </div>
                <div class="modal-footer"><button class="btn btn-default" type="button" data-bs-dismiss="modal">Закрыть</button></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $("#SelectedGroupID").on("change", function () {
                var selectedgroupID = $(this).val();
                $('#SelectedUsersIDs').selectpicker("destroy");
                $('#SelectedUsersIDs option').each(function () {
                    $(this).remove();
                });
                $.getJSON(`?handler=GroupUsers&selectedgroupID=${selectedgroupID}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#SelectedUsersIDs").append(`<option value="${item.value}">${item.text}</option>`);
                        

                    });
                    $('#SelectedUsersIDs').addClass('selectpicker').selectpicker("render");

                });
               
            });
            
        });
    </script>
}
