@page "{id?}"
@model LMS.Pages.LaboratoryWorksModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Добавление лабораторной работы";
}
<div aria-label="breadcrumb">
    <ol class="mybreadcrumb">
        <li class="breadcrumb-item">
            <a href="~/index">На главную</a>
        </li>
        <li class="breadcrumb-item not-active" aria-current="page">
            <a href="~/courses">Все курсы</a>
        </li>
        <li class="breadcrumb-item not-active" aria-current="page">
            <a href="~/courses/Manage/@Model.CourseID">@Model.CourseName</a>
        </li>
        <li class="breadcrumb-item not-active" aria-current="page">
           Редактирование лабораторной работы
        </li>
    </ol>
</div>


<div class="row">
    <div class="col-7">
        <div class="container-fluid ">
            <div class="col text-center">
                <form asp-page="ManageTask" asp-page-handler="UpdateLab" method="post">

                    <div class="input-group">
                        <label class="mr-sm-2">Тема:</label>
                        <textarea class="form-control" asp-for="@Model.Cur_laboratoryWork.Name" style="width: 100%; height: 200px;"></textarea>
                    </div>
                    <div class="input-group">
                        <label class="mr-sm-2">Описание задания:</label>
                        <textarea class="form-control" asp-for="@Model.Cur_laboratoryWork.Description" style="width: 100%; height: 500px;"></textarea>
                    </div>
                    <div class="input-group align-items-center">
                        <label class="mr-sm-2">Максимальная оценка:</label>
                        <input class="form-control" asp-for="@Model.Cur_laboratoryWork.MaxMark" type="number" min="1" value="@Model.Cur_laboratoryWork.MaxMark" />
                    </div>
                    <button type="submit" class="btn btn-success ">Сохранить изменения</button>
                </form>
            </div>


        </div>
    </div>
    <div class="col-5">
        <div class="body customCenter myHeadingPage ">
            <div class="btn custom btn-success" data-bs-toggle="modal" data-bs-target="#CreateVariant">Добавить вариант</div>
        </div>
        <label class="mr-sm-2" for="inputThemeForLabWork">Варианты:</label>

        @{
            if (Model.Cur_laboratoryWork.Variants.Count == 0)
            {
                <p>Вы ещё не добавили варианты</p>
            }
            else
            {
                foreach (var item in Model.Cur_laboratoryWork.Variants)
                {
                    <div class="d-flex align-items-center p-3 my-3 StudentContainer">
                        <div class="mb-0">
                            <p>Вариант № @item.VariantNumber</p>
                        </div>
                        <div class="d-flex">
                            <span data-bs-toggle="tooltip" data-bs-title="Редактирование варианта">
                                <button class="btn btn-primary details" data-bs-toggle="modal" data-bs-target="#EditVariant" data-id="@item.VariantId"><i class="fa-solid fa-pen-to-square"></i></button>
                            </span>
                            <form method="post">
                                <button type="submit" class="btn btn-danger " asp-page-handler="DeleteVariant" asp-route-VarID="@item.VariantId">Удалить</button>
                            </form>
                        </div>

                    </div>
                }
            }
        }
        
    </div>
</div>




<div id="CreateVariant" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Создание нового варианта</h4><button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid ">
                    <div class="col text-center">
                        <form asp-page="ManageTask" asp-page-handler="AddVariant" method="post">
                            <div class="input-group">
                                <label class="mr-sm-2">Номер варианта:</label>
                                <input class="form-control" asp-for="@Model.Variant.VariantNumber" type="number" min="1" value="1" />
                            </div>
                            <div class="input-group">
                                <label class="mr-sm-2">Описание варианта:</label>
                                <textarea class="form-control" asp-for="@Model.Variant.Description" style="width: 100%; height: 500px;"></textarea>
                            </div>
                            <label class="mr-sm-2">Выберите репозиторий для работы:</label>
                            <select class="selectpicker form-control" data-style="btn border" title="Репозиторий" asp-for="SelectedRepoId" asp-items="Model._AllRepos">
                                <option value="0">Репозиторий</option>
                            </select>
                            <button type="submit" class="btn btn-success ">Добавить</button>
                        </form>
                    </div>


                </div>
                <div class="modal-footer"><button class="btn btn-default" type="button" data-bs-dismiss="modal">Закрыть</button></div>
            </div>
        </div>
    </div>
</div>

<div id="EditVariant" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Редактирование варианта</h4><button class="btn-close" type="button" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="VarDetails">
                
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(function () {
            $('button.details').on('click', function () {
                $('#VarDetails').load(`?handler=VariantDetails&SelectedVarID=${$(this).data('id')}`);
                                                
                
            });
        })
    </script>
}