@using LMS.Extensions
@using LMS.Models
@using LibGit2Sharp
@model TreeModel
@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
    string currRepo = (string)ViewContext.RouteData.Values["repoName"];
    string currUser = (string)ViewContext.RouteData.Values["userName"];
    string currId = (string)ViewContext.RouteData.Values["id"];
    var request = ViewContext.HttpContext.Request;
    var giturl = $"{request.Scheme}://{request.Host}/{currUser}/{currRepo}.git";
    var repo = Model.Repository;
    var lastcommit = repo.Commits.FirstOrDefault();
    
}

@*<div aria-label="breadcrumb">
    <ol class="mybreadcrumb">
        <li class="breadcrumb-item">
            <a href="~/index">На главную</a>
        </li>
        <li class="breadcrumb-item not-active" aria-current="page">
            <a href="~/repositoryuser">Все репозитории</a>
        </li>
        <li class="breadcrumb-item not-active" aria-current="page">
            Cодержимое репозитория @currUser/@currRepo
        </li>
    </ol>
</div>
*@
<h1 class="border- border-bottom">@currRepo</h1>

<div class="row pb-2" @*style=" margin-left:15%;"*@>

<div class="col-3 order-3 ">
        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Действия
        </button>
        <ul class="dropdown-menu" style="top:6px; width:400px; max-width: calc(100vw-320px);">
            <li class="p-3">
                
                <div class="flex-row">
                    <h4>Клонировать</h4>
                    <div class="input-group">
                        <input class="form-control mr-0" id="Giturl" type="text" value="@giturl" readonly style="min-width:fit-content; border-bottom-left-radius: 15px; border-top-left-radius: 15px;">
                        <button class="btn-primary p-2" onclick="CopyToBuffer()" style="border-bottom-right-radius: 15px; border-top-right-radius: 15px;"> <i class="fa-solid fa-copy"></i></button>
                    </div>
                   
                </div>
       
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class ="p-3">
                <a href="@Url.Action("Download", new { userName = currUser,  repoName = currRepo, id = currId, path = Model.Parent })"> <i class="fa-solid fa-file-zipper"></i> Скачать ZIP</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="p-3">
                <a id="Test" href="@Url.Action("StartTest", new { userName = currUser,  repoName = currRepo, id = currId, path = Model.Parent })"> <i class="fa-solid fa-flask"></i> Запуск тестирования</a>
            </li>
        </ul>
    
</div>

    <div class="col-3">
        <span><i class="fa-brands fa-git-alt"></i> <b>@repo.Branches.Count()</b> Количество веток</span>
    </div>
        <div class="col-6 text-center">
            <span> <i class="fas fa-history"></i> <b>@repo.Commits.Count()</b> Количество коммитов</span>
        </div>
       
</div>

<div class="border" style="border-radius: 15px">
    <table class="table table-hover table-borderless" @*style="width:70%; margin-left:auto; margin-right:auto"*@>

        <thead>
            <tr>
                <th scope="col">@lastcommit.Author.Name</th>
                <th scope="col"><i class="fa-solid fa-tag"></i> Сообщение коммита: @lastcommit.Message</th>
                <th scope="col"><span> Дата: @lastcommit.Author.When.LocalDateTime</span></th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Parent != null)
            {
                <tr>
                    <td class="collapsing"><i class="fa-solid fa-folder"></i><a href="@Url.UnencodedRouteLink("GetTreeView", new { repoName = currRepo, id = currId, path = Model.Parent })">....</a></td>
                    @*<td>Сообщение коммита</td>
                <td class="collapsing">Дата</td>*@
                </tr>
            }
            @foreach (FileViewModel fvm in Model.Children)
            {
                bool isTree = fvm.Type == ObjectType.Tree;
                <tr>
                    <td><i class="@((isTree) ? "fa-solid fa-folder" : "fa-solid fa-file")"></i>  <a href="@Url.UnencodedRouteLink((isTree) ? "GetTreeView" : "GetBlobView", new { repoName = currRepo, id = currId, path = fvm.Path })">@fvm.Name</a></td>
                    <td>@fvm.Comment</td>
                    <td>@fvm.DateChange</td>
                </tr>
            }
        </tbody>
    </table>
</div>



<script src="~/lib/jquery.blockUI/jquery.blockUI.min.js"></script>
<script>
        function CopyToBuffer() 
        {
            var copyText = document.getElementById("Giturl");
            copyText.select();
            copyText.setSelectionRange(0, 99999); 
            navigator.clipboard.writeText(copyText.value);
        }

</script>
<script>
    $(document).ready(function () {

        $('#Test').click(function () {
            $.blockUI({
                message: '<i class="fas fa-cog fa-5x fa-spin"></i>',
                css: {
                    border: 'none',
                    backgroundColor: 'transparent'
                    
                },
                overlayCSS: { backgroundColor: '#AAAFB4' }

            });
        });
    });
</script>
